.Rproj.user
.Rhistory
.RData
*.RData
*.aux
*.log
*.pdf
*.o
*.d

*.bbl

*.blg

*.gz

*.dta

*.dat

*.asc

*.inp

*.sfun

*.fdb_latexmk

*.make

*.cmake

*.sublime-project

*.sublime-workspace

*.Rproj

*.ps

*.fls

*.nav

*.toc

*.out

*.snm

*.BAK

Chapter_3_collapsed_variational_bayes.synctex.gz

*.gz

*.bin

*.data

*.gz

code/Makefile
